* {
  margin: 0;
  padding: 0
}

header {
  margin: 50px;
  font-family: "Schoolbell", 'Courier New', Courier, monospace;
  font-size: 30px;
  color: white;
  font-weight: bolder;
  text-decoration: wavy;
}

body {
  text-align: center;
  background-image: url('https://tinyurl.com/ya6ym3cc');
  background-size: auto;
}

input {
  display: flex;
  flex-direction: row;
  display: inline;
  margin: 30px 5px;
  height: 40px;
  width: 40px;
  text-align: center;
  font-size: 22px;
  background-color: rgb(196, 163, 124);
  color: white;
  border-radius: 50%;
  text-transform: uppercase;
  pointer-events: none;
}

section {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 85px 5px 0 5px;
  height: 360px;
  width: 660px;
  background-image: url('https://tinyurl.com/yc8pzpfd');
  background-size: cover;
} 

h3 {
  display: flex;
  display: block;
  margin: 10px 0 25px 0;
  font-size: 22px;
  color:rgb(87, 69, 23);
}

p {
  text-align: left;
  margin: 0 0 0 178px;
  font-size: 20px;
  line-height: 1.5;
  color:rgb(87, 69, 23);
  background-color:rgb(200, 166, 127);
  width: 200px;
  padding: 0 0 0 5px;
}

button {
  margin: 0 auto;
  padding: 5px;
  height: 35px;
  width: 100px;
  background-color:rgb(196, 163, 124);
  color: white;
  font-weight: bold;
  font-size: 15px;
  border-radius: 45%;
}

.tries-left, .incorrect-letters {
  font-weight: bold;
  color: white;
}

.alphabet {
  display: flex;
  flex-direction: column;
  flex-flow: space-between;
  width: 10px;
  height: 10px;
  padding: 5px;
  margin: 0 0 0 150px;
  flex-wrap: wrap;
  font-size: 20px;
  
}