* {
  margin: 0;
  padding: 0;
}

header {
  margin: 50px;
  font-family: "Schoolbell", 'Courier New', Courier, monospace;
  font-size: 30px;
  color: white;
  font-weight: bolder;
}

body {
  text-align: center;
  background-image: url('https://tinyurl.com/ya6ym3cc');
  background-size: auto;
}

input {
  display: flex;
  flex-direction: row;
  display: inline;
  margin: 30px 5px;
  height: 40px;
  width: 40px;
  text-align: center;
  font-size: 22px;
  background-color: rgb(196, 163, 124);
  color: white;
  border-radius: 50%;
  text-transform: uppercase;
}

.game-input {
  font-size: 35px;
  font-weight: bold;
  color: rgb(87, 69, 23);
  margin: 50px 0 20px 0;
}

section {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 85px 85px 0;
  height: 460px;
  width: 690px;
  background-image: url('https://tinyurl.com/yc8pzpfd');
  background-size: cover;
  box-sizing: border-box;
} 

h3 {
  display: flex;
  display: block;
  margin: 0 0 20px 0;
  font-size: 22px;
  color:rgb(87, 69, 23);
}

p {
  text-align: left;
  margin: auto;
  font-size: 20px;
  line-height: 1.5;
  color:rgb(87, 69, 23);
  background-color:rgb(200, 166, 127);
  width: 300px;
  padding: 0 0 0 5px;
}

#start-next {
  margin: 0 auto;
  padding: 5px;
  height: 35px;
  width: 100px;
  background-color:rgb(196, 163, 124);
  color: white;
  font-weight: bold;
  font-size: 15px;
  border-radius: 45%;
}

.tries-left, .incorrect-letters {
  font-weight: bold;
  color: white;
}

.alphabet-div {
  display: block;
  height: 20px;
  font-size: 19px;
  color: rgb(87, 69, 23);
}

#alphabet-buttons {
  justify-content: center;
  flex-direction: row;
  gap: 5px;
  list-style: none;
}

li {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 5px;
}

.letter-button {
  display: inline;
  height: 25px;
  width: 25px;
  background-color:rgb(196, 163, 124);
  color: white;
  font-weight: bold;
  font-size: 15px;
  border-radius: 50%;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
}